* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    height: 50px;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;

}

header nav {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav p {
    font-size: 15px;
    font-weight: 500;
}

header nav div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav div button {
    background-color: black;
    border: none;
    height: 18px;
    width: 100px;
    border-radius: 10px;
    color: white;

    font-size: small;
    text-align: left;
    padding: 0 5px;
    margin: 0 5px;
    cursor: pointer;
}

header nav div a {
    text-decoration: none;
    font-size: small;
    color: black;
    font-weight: bold;
    margin: 0 5px;

}

header nav div img {
    width: 15px;
}

.section1 {
    position: relative;
    width: 100%;

}


.section1 .background {
    height: 550px;
    width: 100%;
}

.section1 .background1 {
    display: none;
    height: auto;
    width: 100%;
    object-fit: contain;
}

.section1 .para1 {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 40px;
}

.section1 .para1 span {
    font-size: 32px;
}

.section1 .para2{
    position: absolute;
        bottom: 4%;
        background-color: #2a2b2a;
        height: auto;
        width: 100%;
        color: white;
        text-align: center;
        opacity: 0.8;
        font-size: 27px;
        padding: 20px 0;
        line-height: 40px;
}
.section1 .para2 span{
    font-size:15px;

}

.Categories{
    padding: 25px 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 450px;
    margin: 0% auto;
}
.Categories h2{
    font-size: 20px;
    color: grey;
    font-weight: 500%;
}


.Categories main div{
    height: 150px;
    width: 150px;
    position: relative;
    display: grid;
    place-items:center;
}



.Categories main div section{
    position: absolute;
    height: 80%;
    width: 80%;
    background-color:white;
    opacity: 0.5;
}

.Categories main div section img {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    right: 5px;
}

.Categories main div section p {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.Categories {
    padding: 25px 12px;
    width: 450px;
    margin: 0% auto;
}

.Categories h2 {
    font-size: 20px;
    color: grey;
    font-weight: 500%;
}

.Categories main {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}


.Categories main div img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

body>div.Categories>div>main:nth-child(1)>div:nth-child(2)>img{
    margin-bottom: 58px;
    width: 120px;
    position: relative;
    bottom: 20%;
    height: 222px;
    left: 14px;

}

body>div.Categories>div>main:nth-child(2)>div:nth-child(1)>img{
    margin-top: 33px;
        width: 147px;
        position: relative;
        bottom: 20%;
}

.Categories main div section {
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: white;
    opacity: 0.5;
}

.Categories main div section img {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    right: 5px;
}

.Categories main div section p {
    position: absolute;
    bottom: 5px;
    left: 5px;
}


body>div.Categories>div>main:nth-child(1)>div:nth-child(2)>section {
    margin-left: 23px;
}

body>div.Categories>div>main:nth-child(2)>div:nth-child(1)>section{
    margin-right: 23px;
    width: 94px;
    margin-bottom: 30px;
}

body>div.Categories>div>main:nth-child(2)>div:nth-child(2)>section{
    margin-right: 23px;
        width: 94px;
        margin-bottom: 25px;
}

body>div.Categories>div>main:nth-child(2)>div:nth-child(2)>img {
    width: 119px;
        position: relative;
        bottom: 28%;
        right: 11%;
}

@media screen and (max-width:480px) {
    .section1 .background {
        display: none;
    }

    .section1 .background1 {
        display: block;
    }

    .section1 .para1 {
        top: 10%;
        left: 2%;
        font-size: 28px;
    }

    .section1 .para1 span {
        font-size: 22px;

    }
}

.Offers {
    padding: 25px 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 450px;
    margin: 0% auto;
}

.image-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center; /*center items horizontally */
    align-items: center; /*center the items vertically */
    max-width: 770px;
    margin: 0 auto;

}

.grid-item{
    position: relative; 
    overflow: hidden;
    width: 100%;
    max-width: 350px;


}

.grid-item img{
    width: 90% ;
    height: 400px;
    display: block;
    object-fit: cover;

}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
   
    padding: 10px;
    text-align: center;
    transition: 0.3 sec ease;
   
}



.overlay button{
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 24px;
    background-color:rgb(72, 64, 64);
    color: whitesmoke;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.grid-bottom{
    background-color: #292828;
    color: #707070;
    padding: 24px 20px;
    position: relative;


}

.footer{
    background: linear-gradient(to bottom, #782b07, rgb(108, 47, 47));
    color: white;
    padding: 20px 0;
    margin-top: 100px;

}

.footer-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20 px;

}

.footer-section{
    margin: 0 20px;
    flex: 1;
    
}

.footer-section ul li a{
    color: white;
    text-decoration: none;

}

.footer-section ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.footer-bottom{
    text-align: center;
    margin-top: 20px;

}

.footer-section h3{
    margin-bottom: 10px;
}



.footer-section ul li{
    margin-bottom: 5px;
}

.footer-section ul li a:hover{
    color: red;
}

.sidebar{
    width: 250px;
    padding: 20px;
    border-right: 1px solid rgb(97, 97, 97);
    position: relative;
}

.filter-section, .catagory-section{
    margin-bottom: 20px;

}

.main-section .sidebar .filter-section h2{
    font-size: 18px;
    background-color: rgb(48, 48, 48);
    color: rgb(182, 182, 182);
    padding: 10px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 10px;
}

li{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 100%;
}

.grid-container .grid-item2{
    width:80%;
}

.grid-item2 img{
    width:100% ;
}

.main-section{
    display: flex;
}

.main-section .content h2{
    margin-top: 50px;
    margin-bottom: 50px;
}